@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***************** COLORS *****************/
/* crvena iz loga */
/* zuta iz loga */
/* tamnosiva od pozadine */
/* logo gray light verzija za hover state */
/* tamnija nijansa crvene od loga */
/* jos svijetlija od tamno sive, ima u navigaciji kao bottom border*/
/*********** START ************/
/* line 23, ../sass/screen.scss */
body {
  color: #272727;
  margin: 0 auto;
  font-family: 'Roboto',Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* line 25, ../sass/screen.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 26, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
  color: #df202d;
}

/* line 27, ../sass/screen.scss */
a:visited, a:active {
  color: black;
  text-decoration: none;
}

/* START MAIN NAVIGATION */
/* MAIN MENU */
/* line 35, ../sass/screen.scss */
#app-nav {
  background: #272727;
}

/* line 36, ../sass/screen.scss */
#app-nav:after {
  clear: both;
}

/* line 38, ../sass/screen.scss */
#main-navigation {
  margin: 0 auto;
}

/* line 40, ../sass/screen.scss */
#main-navigation ul li {
  float: left;
  font-size: 1em;
  position: relative;
  padding: 0.5em 0;
}

/* line 41, ../sass/screen.scss */
#main-navigation ul li a {
  display: block;
  color: #fff;
  padding: 0 1.5em;
  text-decoration: none;
}

/* line 42, ../sass/screen.scss */
#main-navigation ul li:hover > a {
  color: #fff;
}

/* line 43, ../sass/screen.scss */
#main-navigation ul li.active > a {
  color: #f8bb14;
}

/* SUB MENU */
/* line 46, ../sass/screen.scss */
#main-navigation .toplevel > li > ul:before {
  content: "";
  border-style: solid;
  border-width: 8px 8px 8px 8px;
  border-color: transparent transparent #fff transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 50px;
  top: -6px;
}

/* line 48, ../sass/screen.scss */
#main-navigation ul li > ul {
  position: absolute;
  width: 150px;
  padding-top: 9px;
  padding-left: 1.5px;
}

/* line 49, ../sass/screen.scss */
#main-navigation ul li:hover > ul {
  display: block;
}

/* line 50, ../sass/screen.scss */
#main-navigation ul li > ul li {
  padding: 0px 3px 0px;
  background: #272727;
  width: 100%;
  border-bottom: 1px solid #2e2e2e;
}

/* line 51, ../sass/screen.scss */
#main-navigation ul li > ul li a {
  display: block;
  padding: 0 9px;
  font-size: 0.8em;
  line-height: 2em;
  border-left: 2px solid #272727;
}

/* line 52, ../sass/screen.scss */
#main-navigation ul li > ul li:hover {
  background: #353535;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

/* line 53, ../sass/screen.scss */
#main-navigation ul li > ul li:hover > a {
  color: #fff;
  border-color: #f8bb14;
}

/* SUB SUB MENU */
/* line 57, ../sass/screen.scss */
#main-navigation ul li > ul li > ul:before {
  content: "";
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: -10px;
  top: 6px;
}

/* line 59, ../sass/screen.scss */
#main-navigation ul li > ul li > ul {
  top: 0;
  left: 100%;
  padding: 0 1px;
}

/* line 60, ../sass/screen.scss */
#main-navigation ul ul {
  display: none;
}

/* line 61, ../sass/screen.scss */
#main-navigation ul li:hover > ul {
  display: block;
}

/* line 62, ../sass/screen.scss */
#main-navigation ul:after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0px;
}

/* END MAIN NAVIGATION */
/* START HEADER */
/* line 71, ../sass/screen.scss */
#logo {
  float: left;
  background: #272727;
}

/* line 72, ../sass/screen.scss */
#logo > .rtname {
  display: none;
}

/* line 73, ../sass/screen.scss */
#logo img {
  width: 23px;
  height: 26px;
  vertical-align: middle;
  padding: 0.2em 1em;
}

/* line 75, ../sass/screen.scss */
#quickbar {
  display: none;
}

/* line 77, ../sass/screen.scss */
#header {
  display: none;
}

/* END HEADER */
/* NEW TICKET FAST */
/* line 86, ../sass/screen.scss */
#topactions {
  margin: 0 auto;
  max-width: 1300px;
}

/* line 88, ../sass/screen.scss */
#CreateTicketInQueue {
  float: left;
  line-height: 40px;
  padding: 0 1em;
}

/* line 89, ../sass/screen.scss */
#CreateTicketInQueue .select-queue {
  background: #fff;
  color: #272727;
  outline: none;
  width: 250px;
  border: 1px solid #2e2e2e;
}

/* line 90, ../sass/screen.scss */
#CreateTicketInQueue .button {
  padding: 0.6em 0.5em;
}

/* line 93, ../sass/screen.scss */
#simple-search {
  float: right;
  line-height: 40px;
  padding-right: 1em;
}

/* line 94, ../sass/screen.scss */
#simple-search input {
  border: 1px solid #2e2e2e;
  width: 200px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

/* line 97, ../sass/screen.scss */
#topactions:after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0px;
}

/* line 99, ../sass/screen.scss */
#page-navigation {
  max-width: 1300px;
  margin: 0.1em auto;
  padding: 0 1em;
}

/* line 100, ../sass/screen.scss */
#page-menu {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  padding: 0 2em;
  float: right;
}

/* line 101, ../sass/screen.scss */
#page-navigation:after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0px;
}

/* TICKETI */
/* line 108, ../sass/screen.scss */
.myrt {
  max-width: 1300px;
  margin: 1em auto;
}

/* line 109, ../sass/screen.scss */
#comp-index .boxcontainer:nth-child(1) {
  /*width: 65%;*/
  vertical-align: top;
  padding-left: 1em;
}

/* line 110, ../sass/screen.scss */
#comp-index .boxcontainer:nth-child(2) {
  /*width: 34%;*/
  padding: 0 1em;
  vertical-align: top;
}

/* line 112, ../sass/screen.scss */
.oddline {
  background: #cbcbcb;
}

/* line 113, ../sass/screen.scss */
.evenline {
  background: #dbdbdb;
}

/* line 114, ../sass/screen.scss */
.clear {
  display: none;
}

/* line 116, ../sass/screen.scss */
.boxcontainer .titlebox {
  border: 1px solid black;
  margin-bottom: 1.5em;
}

/* line 117, ../sass/screen.scss */
.titlebox-title {
  background: #454545;
  color: #fff;
  line-height: 2em;
  font-size: 1em;
  padding-left: 0.5em;
}

/* line 118, ../sass/screen.scss */
.titlebox-title a {
  color: #fff;
}

/* line 119, ../sass/screen.scss */
.titlebox-title .right {
  float: right;
  padding-right: 1em;
  font-size: 0.6em;
  text-transform: uppercase;
}

/* line 123, ../sass/screen.scss */
.collection-as-table {
  padding: 0.3em 0.5em;
  font-size: 1em;
  color: #272727;
}

/* line 124, ../sass/screen.scss */
.collection-as-table th {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  color: #272727;
}

/* line 125, ../sass/screen.scss */
.collection-as-table:first-child {
  padding-right: 0.5em;
}

/* line 126, ../sass/screen.scss */
.collection-as-table:nth-child(2) {
  padding-right: 0.5em;
}

/* line 128, ../sass/screen.scss */
.boxcontainer:first-child .collection-as-table:nth-child(4) {
  font-size: 0.7em;
  text-transform: uppercase;
}

/* line 129, ../sass/screen.scss */
.collection-as-table:nth-child(5) {
  font-size: 0.7em;
  text-transform: uppercase;
  text-align: left;
}

/* line 131, ../sass/screen.scss */
.collection-as-table td:last-child > a {
  text-transform: lowercase;
  letter-spacing: -1px;
  color: #df202d;
  text-decoration: none;
}

/* line 133, ../sass/screen.scss */
.ticket-overview th {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  color: #272727;
}

/* line 134, ../sass/screen.scss */
.ticket-overview tr {
  padding: 0.3em 0.5em;
  font-size: 0.9em;
  color: #272727;
}

/* line 136, ../sass/screen.scss */
.titlebox .queue-summary td {
  padding: 0.3em 0.5em;
  text-align: center;
}

/* line 137, ../sass/screen.scss */
.titlebox .queue-summary td:first-child {
  text-align: left;
}

/* line 139, ../sass/screen.scss */
.ticket-list {
  width: 100%;
}

/* QUICK TICKET CREATION */
/* line 145, ../sass/screen.scss */
.quick-create {
  width: 530px;
  background: #dbdbdb;
}

/* line 146, ../sass/screen.scss */
.quick-create td {
  padding: 0.3em 0.3em;
  width: 530px;
}

/* line 147, ../sass/screen.scss */
.quick-create tr {
  color: #272727;
}

/* line 149, ../sass/screen.scss */
.buttons .button {
  display: block;
}

/* line 150, ../sass/screen.scss */
.button {
  border: none;
  background: #b70005;
  color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

/* line 151, ../sass/screen.scss */
.button:hover {
  background: #454545;
  color: #fff;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -ms-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

/* line 152, ../sass/screen.scss */
.quick-create .button {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 0.3em;
}

/* line 153, ../sass/screen.scss */
.quick-create textarea {
  max-width: 410px;
  min-width: 410px;
  min-height: 100px;
  background: #fff;
}

/* REFRESH CONTAINER */
/* line 158, ../sass/screen.scss */
.boxcontainer:nth-child(2) .titlebox:nth-child(4) {
  float: left;
}

/* line 159, ../sass/screen.scss */
.boxcontainer:nth-child(2) .titlebox .submit {
  float: right;
}

/* line 160, ../sass/screen.scss */
.boxcontainer:nth-child(2) .titlebox:nth-child(4):after {
  clear: both;
}

/* line 165, ../sass/screen.scss */
#time {
  display: none;
}

/* line 166, ../sass/screen.scss */
#ui-datepicker-div {
  display: none;
}

/* line 169, ../sass/screen.scss */
#footer {
  line-height: 3em;
  color: #272727;
}

/* line 170, ../sass/screen.scss */
#bpscredits {
  text-align: center;
}

/********************************** START LOGIN PAGE **********************************/
/* line 176, ../sass/screen.scss */
#login-box .titlebox {
  width: 400px;
  margin: 0em auto;
  border: 1px solid black;
}

/* line 177, ../sass/screen.scss */
#login-box .input-row {
  margin: 1.3em auto;
  text-align: center;
}

/* line 178, ../sass/screen.scss */
#login-box .input-row .label {
  padding-right: 1em;
}

/* line 180, ../sass/screen.scss */
#login .button-row {
  text-align: center;
}

/* line 181, ../sass/screen.scss */
#login .button {
  height: 35px;
  width: 140px;
  margin: 1em 0;
}

/* line 183, ../sass/screen.scss */
#comp-index #legal {
  display: none;
}

/********************************** END LOGIN PAGE **********************************/
/********************************** START SIMPLE SEARCH PAGE **********************************/
/* line 191, ../sass/screen.scss */
#SimpleSearchForm {
  max-width: 50%;
  margin: 7em auto;
}

/* line 193, ../sass/screen.scss */
#SimpleSearchForm input:first-child {
  display: table;
  width: 500px;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

/* line 194, ../sass/screen.scss */
#SimpleSearchForm input:last-child {
  padding: 0.6em 1em;
  margin-bottom: 3em;
}

/* line 196, ../sass/screen.scss */
#SimpleSearchForm p {
  clear: both;
  line-height: 1.7em;
}

/* line 198, ../sass/screen.scss */
#comp-Search-Simple #topactions #CreateTicketInQueue {
  display: none;
}

/* line 199, ../sass/screen.scss */
#comp-Search-Simple #topactions #simple-search {
  display: none;
}

/********************************** END SIMPLE SEARCH PAGE **********************************/
/********************************** START QUERY BILDER PAGE - FIXAT **********************************/
/* line 207, ../sass/screen.scss */
#comp-Search-Build #body {
  max-width: 1300px;
  margin: 0 auto;
}

/* line 209, ../sass/screen.scss */
#comp-Search-Build #body form {
  width: 50%;
  margin: 0 auto;
}

/* line 211, ../sass/screen.scss */
#comp-Search-Build #topactions {
  display: none;
}

/* line 213, ../sass/screen.scss */
#comp-Search-Build #page-navigation {
  background: orange;
  font-size: 1.5em;
}

/********************************** END QUERY BILDER PAGE **********************************/
/********************************** START comp-Ticket-Display PAGE **********************************/
/* line 222, ../sass/screen.scss */
#comp-Ticket-Display #body {
  max-width: 1300px;
  margin: 0 auto;
}

/* line 223, ../sass/screen.scss */
#comp-Ticket-Display #topactions {
  display: none;
}

/* PAGE NAVIGATION (2nd) */
/* line 229, ../sass/screen.scss */
ul ol {
  list-style: none;
  clear: both;
  visibility: visible;
}

/* line 230, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul {
  list-style: none;
}
/* line 231, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li {
  float: left;
  position: relative;
  line-height: 2em;
}
/* line 232, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li a {
  display: block;
  text-transform: none;
  padding: 0.3em 0.7em 0.3em;
  font-size: 1.2em;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
/* line 233, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li:hover > a {
  color: #df202d;
  text-decoration: none;
}
/* line 234, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li.active > a {
  color: #df202d;
}
/* line 235, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li > ul {
  position: absolute;
  top: 100%;
  background: none;
}
/* line 236, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li > ul li:first-child {
  border-top: none;
}
/* line 237, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li > ul li:last-child {
  border-radius: 0 0 4px 4px;
}
/* line 238, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li > ul li {
  padding: 0 3px 3px;
  background: #fff;
  /*border: 1px solid $logogray; border-bottom: none;*/
  color: #df202d;
  width: 100%;
}
/* line 239, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li > ul li:last-child {
  /*border-bottom: 1px solid $logogray;*/
}
/* line 240, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li > ul li a {
  display: block;
  padding: 3px 3px;
  line-height: 1.5em;
  font-size: 1em;
}
/* line 241, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li > ul li:hover a {
  color: #fff;
  background: #353535;
  padding: 3px 3px;
  line-height: 1.5em;
}
/* line 243, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul ul {
  display: none;
}
/* line 244, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul li:hover > ul {
  display: block;
}
/* line 245, ../sass/screen.scss */
#comp-Ticket-Display #page-navigation ul ul:after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0px;
}

/* line 249, ../sass/screen.scss */
.sf-sub-indicator {
  display: none;
}

/**** NAVIGATION INDICATOR (DEFAULT) ****/
/* TICKET CONTENT */
/* line 255, ../sass/screen.scss */
#comp-Ticket-Display .titlebox-title {
  padding: 0 0.5em;
}

/* TICKET TABLES LEFT SIDE */
/* line 261, ../sass/screen.scss */
#comp-Ticket-Display .boxcontainer:nth-child(1) {
  vertical-align: top;
  padding: 0 1em;
}

/* line 264, ../sass/screen.scss */
#comp-Ticket-Display .label {
  padding: 0.2em 0.3em;
}

/* line 265, ../sass/screen.scss */
#comp-Ticket-Display .value {
  padding-right: 0.3em;
  padding-bottom: 0.2em;
}

/* line 267, ../sass/screen.scss */
#comp-Ticket-Display .ticket-info-basics .label {
  width: 180px;
  text-transform: uppercase;
}

/* line 269, ../sass/screen.scss */
#comp-Ticket-Display .ticket-info-cfs tr {
  border-bottom: 2px solid #272727;
}

/* line 270, ../sass/screen.scss */
#comp-Ticket-Display .ticket-info-cfs .label {
  width: 180px;
  text-transform: uppercase;
}

/* TICKET TABLES RIGHT SIDE */
/* line 274, ../sass/screen.scss */
#comp-Ticket-Display .boxcontainer:nth-child(2) {
  vertical-align: top;
  padding-right: 1em;
  width: 30%;
}

/* line 275, ../sass/screen.scss */
#comp-Ticket-Display .ticket-info-dates {
  margin: 1em 0;
}

/* HISTORY */
/* line 283, ../sass/screen.scss */
#comp-Ticket-Display .history {
  margin: 0 1em;
  /*border: 1px solid black;*/
  /* Subject Title */
  /* Download txt html */
  /* Message */
}
/* line 284, ../sass/screen.scss */
#comp-Ticket-Display .history .metadata {
  background: #272727;
  line-height: 2em;
  padding: 0.5em 0.5em;
  /* REPLY AND COMMENT LINKS */
}
/* line 285, ../sass/screen.scss */
#comp-Ticket-Display .history .metadata .type a {
  float: left;
  padding-right: 0.5em;
  color: #df202d;
}
/* line 286, ../sass/screen.scss */
#comp-Ticket-Display .history .metadata a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 288, ../sass/screen.scss */
#comp-Ticket-Display .history .metadata .date {
  color: #fff;
}
/* line 289, ../sass/screen.scss */
#comp-Ticket-Display .history .metadata .description {
  color: #fff;
  padding-left: 0.5em;
}
/* line 294, ../sass/screen.scss */
#comp-Ticket-Display .history .metadata .actions {
  float: right;
  text-transform: uppercase;
  color: #272727;
  letter-spacing: -1px;
}
/* line 295, ../sass/screen.scss */
#comp-Ticket-Display .history .metadata .actions .reply-link {
  font-weight: bold;
  color: #f8bb14;
  margin-right: 0.5em;
}
/* line 296, ../sass/screen.scss */
#comp-Ticket-Display .history .metadata .actions .comment-link {
  font-weight: bold;
  color: #f8bb14;
}
/* line 297, ../sass/screen.scss */
#comp-Ticket-Display .history .metadata .actions :hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 304, ../sass/screen.scss */
#comp-Ticket-Display .history .content {
  clear: both;
  font-size: 1em;
  background: #dbdbdb;
  line-height: 2em;
  border: 1px solid black;
}
/* line 305, ../sass/screen.scss */
#comp-Ticket-Display .history .content table {
  line-height: 2.5em;
  float: left;
  padding: 0.5em 0.5em;
  width: 80%;
}
/* line 306, ../sass/screen.scss */
#comp-Ticket-Display .history .content table .message-header-key {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1em;
}
/* line 307, ../sass/screen.scss */
#comp-Ticket-Display .history .content table .message-header-value {
  font-weight: bold;
  padding-left: 1em;
}
/* line 312, ../sass/screen.scss */
#comp-Ticket-Display .history .content .downloadattachment {
  text-align: right;
  padding: 0.5em 0.5em;
}
/* line 316, ../sass/screen.scss */
#comp-Ticket-Display .history .content .messagebody {
  clear: both;
  font-size: 1em;
  padding: 0.5em 0.5em;
}
/* line 317, ../sass/screen.scss */
#comp-Ticket-Display .history .message-stanza {
  line-height: 1.6em;
}
/* line 320, ../sass/screen.scss */
#comp-Ticket-Display .history .EmailRecord {
  background: #454545;
  margin-bottom: 1.5em;
}

/********************************** END comp-Ticket-Display PAGE **********************************/
