@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Oswald);
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*-------------------------------------------------------------------------------------------------
	-Transition
-------------------------------------------------------------------------------------------------*/
/*@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}*/
/*@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
@if $inset {
-webkit-box-shadow:inset $top $left $blur $color;
-moz-box-shadow:inset $top $left $blur $color;
box-shadow:inset $top $left $blur $color;
} @else {
-webkit-box-shadow: $top $left $blur $color;
-moz-box-shadow: $top $left $blur $color;
box-shadow: $top $left $blur $color;
}
}*/
/*-------------------------------------------------------------------------------------------------
  All inputs
-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
 -Typography
-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
 -Colors
-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
 -Global
-------------------------------------------------------------------------------------------------*/
/* line 40, ../sass/main.scss */
.button, input[type="submit"] {
  border: none;
  border-radius: 3px;
  background: #910a14;
  color: #fff;
  box-shadow: none;
  -webkit-transition: all, 0.5s, ease-in-out;
  -moz-transition: all, 0.5s, ease-in-out;
  -o-transition: all, 0.5s, ease-in-out;
  transition: all, 0.5s, ease-in-out;
}
/* line 42, ../sass/main.scss */
.button:hover, input[type="submit"]:hover {
  -webkit-box-shadow: inset #49050a 0px 0px 25px;
  -moz-box-shadow: inset #49050a 0px 0px 25px;
  box-shadow: inset #49050a 0px 0px 25px;
  color: #fff;
  -webkit-transition: all, 0.25s, ease-in-out;
  -moz-transition: all, 0.25s, ease-in-out;
  -o-transition: all, 0.25s, ease-in-out;
  transition: all, 0.25s, ease-in-out;
}

/* line 58, ../sass/_mixins.scss */
select,
select[type="select"],
.select-queue,
option,
input,
optgroup,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background: #232323;
  color: #939393;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0px;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}
/* line 46, ../sass/main.scss */
select:focus,
select[type="select"]:focus,
.select-queue:focus,
option:focus,
input:focus,
optgroup:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: #939393 0 0 2px;
  -moz-box-shadow: #939393 0 0 2px;
  box-shadow: #939393 0 0 2px;
  font: "Roboto Condensed", Helvetica, Arial, sans-serif;
}

/* line 47, ../sass/main.scss */
select, .select-queue {
  text-transform: capitalize;
}

/* line 50, ../sass/main.scss */
a[href], input[type='submit'], input[type='image'], label[for], select, button, .checkbox, .pointer {
  cursor: pointer;
}

/* line 53, ../sass/main.scss */
#quickbar {
  display: none;
}

/* line 54, ../sass/main.scss */
#logo .rtname {
  display: none;
}

/* line 55, ../sass/main.scss */
#ui-datepicker-div {
  display: none;
}

/* line 56, ../sass/main.scss */
#time {
  display: none;
}

/* line 57, ../sass/main.scss */
.clear {
  display: none;
}

/* line 59, ../sass/main.scss */
::selection {
  background: #515151;
  color: #fff;
}

/* line 60, ../sass/main.scss */
::-moz-selection {
  background: #515151;
  color: #fff;
}

/* line 61, ../sass/main.scss */
::-webkit-selection {
  background: #515151;
  color: #fff;
}

/* line 62, ../sass/main.scss */
::-ms-selection {
  background: #515151;
  color: #fff;
}

/* line 63, ../sass/main.scss */
::-o-selection {
  background: #515151;
  color: #fff;
}

/* line 66, ../sass/main.scss */
body {
  font: 100% "Roboto Condensed", Helvetica, Arial, sans-serif;
  margin-top: 10px;
  background: #1e1e1e;
  color: #939393;
  line-height: 1.2;
}
/* line 67, ../sass/main.scss */
body a {
  text-decoration: none;
  color: #ac6c3d;
}
/* line 68, ../sass/main.scss */
body a:visited {
  text-decoration: none;
  color: #ac6c3d;
}
/* line 69, ../sass/main.scss */
body a:hover, body a:active, body a:focus {
  text-decoration: none;
  color: #535144;
}

/*-------------------------------------------------------------------------------------------------
 -Header + Main Navigation + page Navigation + Top Actions + Footer
-------------------------------------------------------------------------------------------------*/
/* line 76, ../sass/main.scss */
#logo {
  position: relative;
  float: left;
  padding: 0 20px;
  line-height: 33px;
}
/* line 77, ../sass/main.scss */
#logo img {
  width: 30px;
  height: 33px;
}

/* line 79, ../sass/main.scss */
#header {
  line-height: 33px;
  font: "Oswald", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

/* line 82, ../sass/main.scss */
#main-navigation {
  float: left;
  width: 100%;
  text-transform: uppercase;
  background: #121212;
  border-color: rgba(140, 140, 140, 0.2);
  border-top: 1px solid rgba(140, 140, 140, 0.2);
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
}
/* line 84, ../sass/main.scss */
#main-navigation ul {
  list-style: none;
}
/* line 85, ../sass/main.scss */
#main-navigation ul li {
  float: left;
  position: relative;
  z-index: 20;
}
/* line 86, ../sass/main.scss */
#main-navigation ul li a {
  display: block;
  padding: 5px 15px 5px 15px;
  font-size: 14px;
  color: #95450b;
}
/* line 87, ../sass/main.scss */
#main-navigation ul li:hover > a {
  color: #ac6c3d;
  -webkit-transition: all, 0.3s, ease-in-out;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}
/* line 88, ../sass/main.scss */
#main-navigation ul li.active > a {
  color: #ac6c3d;
}
/* line 90, ../sass/main.scss */
#main-navigation li > ul:before {
  content: "";
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  border-color: #121212 transparent transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 30px;
  top: 0px;
}
/* line 94, ../sass/main.scss */
#main-navigation ul li > ul {
  position: absolute;
  left: 0px;
  top: 100%;
  padding-top: 5px;
  width: 140px;
  background: #121212;
}
/* line 95, ../sass/main.scss */
#main-navigation ul li:hover > ul {
  display: block;
}
/* line 96, ../sass/main.scss */
#main-navigation ul li > ul li {
  padding: 3px 3px 3px;
  width: 95%;
  border-bottom: 1px solid rgba(173, 173, 173, 0.2);
}
/* line 97, ../sass/main.scss */
#main-navigation ul li > ul li a {
  display: block;
  padding: 3px 3px;
  font-size: 12px;
  border-left: 2px solid #121212;
}
/* line 98, ../sass/main.scss */
#main-navigation ul li > ul li:hover {
  background: rgba(224, 224, 224, 0.1);
  -webkit-transition: all, 0.3s ease-in-out;
  -moz-transition: all, 0.3s ease-in-out;
  -o-transition: all, 0.3s ease-in-out;
  transition: all, 0.3s ease-in-out;
}
/* line 99, ../sass/main.scss */
#main-navigation ul li > ul li:hover > a {
  color: #ac6c3d;
  border-color: #ac6c3d;
  -webkit-transition: all, 0.1s ease-in-out;
  -moz-transition: all, 0.1s ease-in-out;
  -o-transition: all, 0.1s ease-in-out;
  transition: all, 0.1s ease-in-out;
}
/* line 101, ../sass/main.scss */
#main-navigation ul li > ul li.active > a {
  color: #ac6c3d;
}
/* line 103, ../sass/main.scss */
#main-navigation li > ul li > ul:before {
  content: "";
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  border-color: transparent #121212 transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: -12px;
  top: 7px;
}
/* line 106, ../sass/main.scss */
#main-navigation ul li > ul li > ul {
  top: 0px;
  left: 105%;
  padding-top: 0px;
}
/* line 107, ../sass/main.scss */
#main-navigation ul li > ul li:hover > ul {
  display: block;
  top: 0px;
  left: 100%;
}
/* line 108, ../sass/main.scss */
#main-navigation ul ul {
  display: none;
}

/* line 111, ../sass/main.scss */
.sf-sub-indicator {
  display: none;
}

/* line 114, ../sass/main.scss */
#page-navigation {
  position: absolute;
  right: 15px;
  top: 50px;
}
/* line 115, ../sass/main.scss */
#page-navigation ul {
  list-style: none;
}
/* line 116, ../sass/main.scss */
#page-navigation ul li {
  float: left;
  position: relative;
  z-index: 20;
}
/* line 117, ../sass/main.scss */
#page-navigation ul li a {
  display: block;
  padding: 0px 15px 0px 15px;
  font-size: 11px;
  line-height: 33px;
  color: #95450b;
  text-transform: uppercase;
}
/* line 119, ../sass/main.scss */
#page-navigation ul li:hover > a {
  color: #ac6c3d;
  -webkit-transition: all, 0.3s, ease-in-out;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}
/* line 120, ../sass/main.scss */
#page-navigation ul li.active > a {
  color: #ac6c3d;
}
/* line 122, ../sass/main.scss */
#page-navigation ul li > ul {
  position: absolute;
  right: 0px;
  top: 100%;
  padding-top: 7px;
  width: 100px;
  background: #121212;
}
/* line 123, ../sass/main.scss */
#page-navigation ul li:hover > ul {
  display: block;
}
/* line 124, ../sass/main.scss */
#page-navigation ul li > ul li {
  padding: 3px 3px 3px;
  width: 95%;
  border-bottom: 1px solid rgba(173, 173, 173, 0.2);
}
/* line 125, ../sass/main.scss */
#page-navigation ul li > ul li a {
  display: block;
  padding: 3px 3px;
  font-size: 10px;
  border-left: 2px solid #121212;
}
/* line 126, ../sass/main.scss */
#page-navigation ul li > ul li:hover {
  background: rgba(224, 224, 224, 0.1);
  -webkit-transition: all, 0.3s, ease-in-out;
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}
/* line 127, ../sass/main.scss */
#page-navigation ul li > ul li:hover > a {
  color: #ac6c3d;
  border-color: #ac6c3d;
  -webkit-transition: all, 0.1s, ease-in-out;
  -moz-transition: all, 0.1s, ease-in-out;
  -o-transition: all, 0.1s, ease-in-out;
  transition: all, 0.1s, ease-in-out;
}
/* line 129, ../sass/main.scss */
#page-navigation ul li > ul li.active > a {
  color: #ac6c3d;
}
/* line 130, ../sass/main.scss */
#page-navigation ul ul {
  display: none;
}

/* line 134, ../sass/main.scss */
#topactions {
  clear: both;
  position: absolute;
  top: 17px;
  right: 20px;
  height: 50px;
}
/* line 135, ../sass/main.scss */
#topactions #simple-search {
  float: left;
  padding-right: 20px;
}
/* line 136, ../sass/main.scss */
#topactions #simple-search input {
  width: 300px;
  height: 23px;
  margin: 1px 5px;
  border: none;
  font: 100% "Oswald", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 23px;
  padding-left: 2px;
}
/* line 138, ../sass/main.scss */
#topactions #simple-search input:focus {
  outline: none;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #ac6c3d;
}
/* line 140, ../sass/main.scss */
#topactions #CreateTicketInQueue {
  float: right;
  padding-top: -5px;
}
/* line 141, ../sass/main.scss */
#topactions #CreateTicketInQueue .button {
  padding: 2px 10px;
}

/* line 145, ../sass/main.scss */
#footer {
  clear: both;
  margin-top: 7em;
  margin-bottom: 1em;
}
/* line 145, ../sass/main.scss */
#footer #bpscredits {
  text-align: center;
}

/*-------------------------------------------------------------------------------------------------
 -#body general settings
-------------------------------------------------------------------------------------------------*/
/* line 150, ../sass/main.scss */
#body {
  clear: both;
  max-width: 960px;
  margin: 0 auto;
  padding: 1%;
}
/* line 153, ../sass/main.scss */
#body .titlebox .titlebox-title .widget a {
  display: block;
  margin: 0;
  width: 15px;
  background: url(/NoAuth/images/css/rollup-arrow.gif) no-repeat;
  background-position: center;
  position: absolute;
  top: 6px;
  left: 0px;
  padding: 7px 0 0 0;
  overflow: hidden;
}
/* line 165, ../sass/main.scss */
#body .titlebox .titlebox-title .widget a:hover {
  background-position: top;
  -webkit-transition: all, 0.3s, Ease-In;
  -moz-transition: all, 0.3s, Ease-In;
  -o-transition: all, 0.3s, Ease-In;
  transition: all, 0.3s, Ease-In;
}
/* line 166, ../sass/main.scss */
#body .titlebox.rolled-up .titlebox-content {
  display: none;
}
/* line 168, ../sass/main.scss */
#body .titlebox.rolled-up .titlebox-title .widget a {
  background: url(/NoAuth/images/css/rolldown-arrow.gif) no-repeat;
  background-position: center;
  color: red;
  top: 6px;
}
/* line 171, ../sass/main.scss */
#body .titlebox.rolled-up .titlebox-title .widget a:hover {
  background-position: top;
  -webkit-transition: all, 0.3s, Ease-Out;
  -moz-transition: all, 0.3s, Ease-Out;
  -o-transition: all, 0.3s, Ease-Out;
  transition: all, 0.3s, Ease-Out;
}
/* line 174, ../sass/main.scss */
#body .boxcontainer {
  vertical-align: top;
}
/* line 175, ../sass/main.scss */
#body .boxcontainer:first-child {
  padding-right: 10px;
}
/* line 176, ../sass/main.scss */
#body table {
  width: 100%;
}
/* line 177, ../sass/main.scss */
#body td, #body th {
  padding: 2px 2px;
}
/* line 178, ../sass/main.scss */
#body th {
  color: #95450b;
  background: rgba(51, 51, 51, 0.3);
  border-radius: 0 0 3px 3px;
}
/* line 180, ../sass/main.scss */
#body .titlebox {
  padding: 3px 3px;
  margin-bottom: 10px;
  font-size: 14px;
}
/* line 181, ../sass/main.scss */
#body .titlebox .titlebox-title {
  font: 100% "Oswald", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 2px 0 2px 17px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
}
/* line 183, ../sass/main.scss */
#body .titlebox .titlebox-title .left a {
  color: #acacac;
}
/* line 183, ../sass/main.scss */
#body .titlebox .titlebox-title .left a:hover {
  color: #535144;
}
/* line 184, ../sass/main.scss */
#body .titlebox .titlebox-title .right {
  float: right;
}
/* line 185, ../sass/main.scss */
#body .titlebox .titlebox-title .right a {
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(163, 163, 163, 0.5);
}
/* line 186, ../sass/main.scss */
#body .titlebox .titlebox-title .right a:hover {
  color: #535144;
}
/* line 191, ../sass/main.scss */
#body .evenline {
  background: #202020;
}
/* line 192, ../sass/main.scss */
#body .oddline:hover, #body .evenline:hover {
  -webkit-box-shadow: #111111 0 0 5px inset;
  -moz-box-shadow: #111111 0 0 5px inset;
  box-shadow: #111111 0 0 5px inset;
}

/*-------------------------------------------------------------------------------------------------
 -start comp-index // home page
-------------------------------------------------------------------------------------------------*/
/* line 198, ../sass/main.scss */
#comp-index {
  /* end myrt */
}
/* line 199, ../sass/main.scss */
#comp-index #page-edit {
  opacity: .2;
  text-transform: uppercase;
}
/* line 201, ../sass/main.scss */
#comp-index .myrt {
  /*end box container last child */
}
/* line 203, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .titlebox-content th:first-child {
  padding-left: 7px;
}
/* line 206, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .titlebox-content td:nth-child(2) {
  font-size: 14px;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 208, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .titlebox-content td:nth-child(3) {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 210, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .titlebox-content td:nth-child(4), #comp-index .myrt .boxcontainer:first-child .titlebox-content td:nth-child(5) {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 211, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .titlebox-content td:nth-child(6) {
  font-size: 11px;
  font: 75% "Oswald", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
/* line 212, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .titlebox-content td:nth-child(6) a {
  color: #187b09;
}
/* line 212, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .titlebox-content td:nth-child(6) a:hover {
  color: #3f8e33;
}
/* line 215, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create {
  width: 550px;
}
/* line 215, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create .titlebox-content {
  padding: 2px 2px;
}
/* line 216, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create form .label, #comp-index .myrt .boxcontainer:first-child .quick-create form .labeltop {
  font-size: 14px;
}
/* line 217, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create form .input-row .value:nth-child(2) {
  width: 220px;
}
/* line 218, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create form tr .label:nth-child(3) {
  text-align: right;
  padding-left: 15px;
}
/* line 219, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create form input {
  width: 215px;
}
/* line 220, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create form .select-queue {
  width: 215px;
}
/* line 221, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create form textarea {
  min-width: 390px;
  max-width: 390px;
}
/* line 222, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create form .submit {
  text-align: center;
}
/* line 222, ../sass/main.scss */
#comp-index .myrt .boxcontainer:first-child .quick-create form .button {
  width: 150px;
  margin-top: 5px;
  padding: 5px 55px;
}
/* line 230, ../sass/main.scss */
#comp-index .myrt .boxcontainer:last-child {
  width: 25%;
}
/* line 232, ../sass/main.scss */
#comp-index .myrt .boxcontainer:last-child .titlebox-content th:nth-child(2), #comp-index .myrt .boxcontainer:last-child .titlebox-content th:nth-child(3), #comp-index .myrt .boxcontainer:last-child .titlebox-content th:nth-child(4) {
  font-size: 11px;
  text-align: center;
  text-transform: lowercase;
}
/* line 234, ../sass/main.scss */
#comp-index .myrt .boxcontainer:last-child .titlebox-content td:nth-child(2), #comp-index .myrt .boxcontainer:last-child .titlebox-content td:nth-child(3), #comp-index .myrt .boxcontainer:last-child .titlebox-content td:nth-child(4) {
  font-size: 10px;
  text-align: center;
}
/* line 236, ../sass/main.scss */
#comp-index .myrt .boxcontainer:last-child .titlebox-content td:nth-child(1) {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 240, ../sass/main.scss */
#comp-index .myrt .boxcontainer:last-child .titlebox form {
  padding: 2px;
}
/* line 240, ../sass/main.scss */
#comp-index .myrt .boxcontainer:last-child .titlebox form .submit {
  text-align: center;
}
/* line 241, ../sass/main.scss */
#comp-index .myrt .boxcontainer:last-child .titlebox form .button {
  margin-top: 5px;
  padding: 2px 10px;
}

/* end comp-index */
/*-------------------------------------------------------------------------------------------------
 -end comp-index // home page
-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
 -start comp-Search-Simple  [FINISHED]
-------------------------------------------------------------------------------------------------*/
/* line 261, ../sass/main.scss */
#comp-Search-Simple #body #SimpleSearchForm div {
  margin: 40px 0;
  padding-bottom: 50px;
}
/* line 262, ../sass/main.scss */
#comp-Search-Simple #body #SimpleSearchForm input:first-child {
  width: 400px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
}
/* line 263, ../sass/main.scss */
#comp-Search-Simple #body #SimpleSearchForm .button {
  display: table;
  margin-top: 10px;
  padding: 5px 55px;
}

/*-------------------------------------------------------------------------------------------------
 -end comp-Search-Simple
-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
 -start comp-Search-Build [FINISHED]
-------------------------------------------------------------------------------------------------*/
/* line 277, ../sass/main.scss */
#comp-Search-Build #body hr {
  border: 1px solid rgba(140, 140, 140, 0.2);
}
/* line 278, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery {
  position: relative;
  width: 900px;
}
/* line 279, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery table {
  width: 100%;
}
/* line 280, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #pick-criteria {
  width: 55%;
}
/* line 281, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #pick-criteria .radio {
  width: 20px !important;
}
/* line 282, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #pick-criteria .label select {
  width: 160px;
  margin-right: 10px;
}
/* line 283, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #pick-criteria .operator select {
  width: 100px;
  margin-right: 10px;
}
/* line 284, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #pick-criteria .value select, #comp-Search-Build #body #BuildQuery #pick-criteria input {
  width: 180px;
}
/* line 286, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery .submit {
  float: left;
  margin-left: 10%;
}
/* line 288, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editquery {
  clear: both;
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
}
/* line 289, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editquery b {
  text-transform: uppercase;
  font: 100% "Oswald", Helvetica, Arial, sans-serif;
  margin-left: 4px;
}
/* line 290, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editquery p {
  padding-top: 10px;
}
/* line 293, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches {
  position: absolute;
  top: 330px;
  right: 0;
  width: 45%;
  width: 45%;
}
/* line 294, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches .titlebox-content {
  padding: 2px;
}
/* line 295, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches .titlebox-content select, #comp-Search-Build #body #BuildQuery #editsearches .titlebox-content input text {
  width: 180px;
}
/* line 296, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches .titlebox-content .button {
  display: table;
  float: left;
  margin: 10px 10px 10px 0;
}
/* line 298, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches .titlebox-content .label {
  padding-right: 10px;
  clear: both;
}
/* line 299, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches .titlebox-content hr {
  clear: both;
}
/* line 300, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches .titlebox-content #SavedSearchOwner {
  margin-bottom: 10px;
}
/* line 301, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches .titlebox-content #SavedSearchSave {
  float: right;
}
/* line 304, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches #SavedSearchLoadSubmit {
  float: right;
  margin: 0 10px;
}
/* line 305, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #editsearches optgroup {
  font-style: normal;
  font-weight: normal;
  color: #ac6c3d;
}
/* line 307, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #display-options {
  position: relative;
  top: 135px;
}
/* line 308, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #display-options #columns center {
  margin-top: 14px;
}
/* line 310, ../sass/main.scss */
#comp-Search-Build #body #BuildQuery #formatbuttons {
  margin: 150px 50%;
}

/*-------------------------------------------------------------------------------------------------
 -end comp-Search-Build
-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
 -start comp-Prefs-Other // settings page   [FINISHED]
-------------------------------------------------------------------------------------------------*/
/* line 325, ../sass/main.scss */
#comp-Prefs-Other #body form {
  line-height: 2;
}
/* line 326, ../sass/main.scss */
#comp-Prefs-Other #body form .left {
  color: #95450b;
}
/* line 328, ../sass/main.scss */
#comp-Prefs-Other #body form .label {
  display: inline-block;
  width: 310px;
}
/* line 329, ../sass/main.scss */
#comp-Prefs-Other #body form .hints {
  white-space: nowrap;
  font-style: italic;
  color: rgba(140, 140, 140, 0.2);
}
/* line 330, ../sass/main.scss */
#comp-Prefs-Other #body form .hints:hover {
  color: #939393;
  cursor: default;
}
/* line 332, ../sass/main.scss */
#comp-Prefs-Other #body form .button {
  margin: 10px 48% 0 47%;
}

/*-------------------------------------------------------------------------------------------------
 -end comp-Prefs-Other
-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
 -start comp-Ticket-Display [HISTORY PAGE NIJE DOBAR]
-------------------------------------------------------------------------------------------------*/
/* line 346, ../sass/main.scss */
#comp-Ticket-Display {
  /*end body */
}
/* line 347, ../sass/main.scss */
#comp-Ticket-Display #body {
  /* end .boxcontainer:nth-child(2) */
  /* end history */
}
/* line 347, ../sass/main.scss */
#comp-Ticket-Display #body .label, #comp-Ticket-Display #body .labeltop {
  color: #606060;
  text-transform: uppercase;
  font-size: 13px;
}
/* line 349, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(1) {
  padding-right: 0.5em;
  width: 65%;
}
/* line 350, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(1) td:first-child {
  width: 125px;
}
/* line 351, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(1) tr {
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
}
/* line 352, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(1) .ticket-info-cfs td {
  padding: 0.2em;
}
/* line 356, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(2) tr {
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
}
/* line 358, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(2) .ticket-info-reminders table {
  position: relative;
  margin-left: 10px;
}
/* line 359, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(2) .ticket-info-reminders tr {
  border-bottom: none;
}
/* line 360, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(2) .ticket-info-reminders input {
  max-width: 200px;
}
/* line 361, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(2) .ticket-info-reminders .button {
  margin-right: 10px;
}
/* line 364, ../sass/main.scss */
#comp-Ticket-Display #body .boxcontainer:nth-child(2) .ticket-info-links .label, #comp-Ticket-Display #body .boxcontainer:nth-child(2) .ticket-info-links .labeltop {
  color: #ac6c3d;
}
/* line 368, ../sass/main.scss */
#comp-Ticket-Display #body .history {
  /* end ticket history */
}
/* line 369, ../sass/main.scss */
#comp-Ticket-Display #body .history .titlebox-content {
  padding: 3px;
}
/* line 370, ../sass/main.scss */
#comp-Ticket-Display #body .history .titlebox-title {
  color: #1e1e1e;
}
/* line 372, ../sass/main.scss */
#comp-Ticket-Display #body .history .titlebox-title .left {
  color: #939393;
}
/* line 373, ../sass/main.scss */
#comp-Ticket-Display #body .history .titlebox-title .right a {
  color: #ac6c3d;
}
/* line 373, ../sass/main.scss */
#comp-Ticket-Display #body .history .titlebox-title .right a:hover {
  color: #535144;
}
/* line 376, ../sass/main.scss */
#comp-Ticket-Display #body .history .odd, #comp-Ticket-Display #body .history .even {
  border-top: 1px solid rgba(140, 140, 140, 0.2);
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
  margin-bottom: 5px;
}
/* line 378, ../sass/main.scss */
#comp-Ticket-Display #body .history .odd, #comp-Ticket-Display #body .history .even {
  background: #212121;
}
/* line 379, ../sass/main.scss */
#comp-Ticket-Display #body .history .actions {
  color: #212121;
  float: right;
  font-style: normal !important;
  text-transform: uppercase;
}
/* line 384, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history {
  /* end message */
}
/* line 386, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message {
  /*end content */
}
/* line 387, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .metadata {
  padding: 2px;
}
/* line 388, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .metadata .type, #comp-Ticket-Display #body .history #ticket-history .message .metadata .date {
  padding-right: 10px;
  color: #606060;
}
/* line 391, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .message-stanza {
  padding: 2px;
  margin-bottom: 10px;
}
/* line 392, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .message-stanza-folder {
  color: #500050;
  cursor: pointer;
  font-style: italic;
}
/* line 393, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .message-stanza-folder.open {
  color: #CCCCCC;
}
/* line 394, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .message-stanza.closed {
  display: none;
}
/* line 396, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .message-stanza-folder:before, #comp-Ticket-Display #body .history #ticket-history .message .message-stanza-folder:after {
  content: " * ";
}
/* line 397, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .ticket-transaction .messagebody {
  font-size: 1em;
  word-wrap: break-word;
}
/* line 403, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .clickylink a {
  color: green;
}
/* line 405, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .content {
  padding: 0.2em;
  position: relative;
}
/* line 406, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .content td {
  float: left;
}
/* line 407, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .content .message-header-key {
  width: 50px;
  color: #606060;
}
/* line 409, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .content table {
  margin-bottom: 10px;
  -webkit-box-shadow: #111111 0px 1px 0px;
  -moz-box-shadow: #111111 0px 1px 0px;
  box-shadow: #111111 0px 1px 0px;
  border-bottom: 1px solid #2b2b2b;
}
/* line 412, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .content .message-stanza-folder {
  color: #95450b;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 413, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .content .closed {
  background: #262626;
  margin-bottom: 10px;
}
/* line 416, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .message .content .downloadattachment {
  display: none;
}
/* line 430, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .EmailRecord {
  text-align: right;
  font-size: 10px;
  background: #1e1e1e !important;
}
/* line 432, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .other, #comp-Ticket-Display #body .history #ticket-history .basics {
  padding: 0.2em;
  text-transform: uppercase;
}
/* line 433, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .other {
  background: #141414;
  color: #95450b;
}
/* line 434, ../sass/main.scss */
#comp-Ticket-Display #body .history #ticket-history .basics {
  background: #191919;
  color: #95450b;
}

/* end comp-Ticket-Display */
/*-------------------------------------------------------------------------------------------------
 -end comp-Ticket-Display [HISTORY PAGE NIJE DOBAR]
-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
 -start comp-Search-Results [FINISHED]
-------------------------------------------------------------------------------------------------*/
/* line 455, ../sass/main.scss */
#comp-Search-Results #body table {
  width: 100%;
}
/* line 456, ../sass/main.scss */
#comp-Search-Results #body .collection-as-table {
  background: none;
}
/* line 457, ../sass/main.scss */
#comp-Search-Results #body th:nth-child(3), #comp-Search-Results #body th:nth-child(4), #comp-Search-Results #body th:nth-child(5), #comp-Search-Results #body th:nth-child(6) {
  text-align: center;
}
/* line 458, ../sass/main.scss */
#comp-Search-Results #body tr:nth-child(1n) {
  font-size: 12px;
}
/* line 458, ../sass/main.scss */
#comp-Search-Results #body tr:nth-child(1n) a {
  font-size: 14px;
}
/* line 459, ../sass/main.scss */
#comp-Search-Results #body tr:nth-child(2n) {
  font-size: 11px;
  border-bottom: 1px solid rgba(140, 140, 140, 0.2);
  color: #535144;
}
/* line 460, ../sass/main.scss */
#comp-Search-Results #body td:nth-child(2) {
  whitespace: nowrap;
  overflow: hidden;
}
/* line 461, ../sass/main.scss */
#comp-Search-Results #body td:nth-child(3), #comp-Search-Results #body td:nth-child(5), #comp-Search-Results #body td:nth-child(6) {
  text-transform: lowercase;
  text-align: center;
  width: 80px;
}
/* line 462, ../sass/main.scss */
#comp-Search-Results #body td:nth-child(4) {
  text-align: center;
}
/* line 464, ../sass/main.scss */
#comp-Search-Results .refresh {
  display: none;
}

/*-------------------------------------------------------------------------------------------------
 -end comp-Search-Results
-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------
 -start comp-Ticket-Update  [FINISHED]
-------------------------------------------------------------------------------------------------*/
/* line 477, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-metadata {
  width: 50%;
}
/* line 479, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-metadata .label {
  width: 130px;
}
/* line 480, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-metadata select {
  width: 220px;
}
/* line 481, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-metadata input {
  width: 57px;
}
/* line 482, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-metadata tr:last-child select {
  width: 160px;
}
/* line 487, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message .messagedetails .label {
  width: 130px;
}
/* line 488, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message .messagedetails input {
  width: 400px;
}
/* line 490, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message .messagedetails .messagebox-container .articles-select-article td, #comp-Ticket-Update #body #ticket-update-message .messagedetails .messagebox-container .articles-select-article input {
  width: 160px;
  float: left;
  overflow: hidden;
  whitespace: nowrap;
}
/* line 491, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message .messagedetails .messagebox-container input[type="submit"] {
  margin-left: 20px;
  width: 50px;
}
/* line 494, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message .messagedetails .messagebox-container #cke_UpdateContent {
  max-width: 600px;
  min-width: 600px;
  border: none;
}
/* line 495, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message .messagedetails .messagebox-container #cke_UpdateContent td {
  width: 98%;
}
/* line 498, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message .messagedetails input[type="submit"] {
  margin-left: 50px;
  width: 100px;
}
/* line 501, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message #previewscrips {
  margin-top: 20px;
}
/* line 503, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message #previewscrips li {
  margin-top: 10px;
}
/* line 506, ../sass/main.scss */
#comp-Ticket-Update #body #ticket-update-message #SubmitTicket {
  margin: 30px 45%;
}

/*-------------------------------------------------------------------------------------------------
 -end comp-Ticket-Update
-------------------------------------------------------------------------------------------------*/
