@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* bg box/contents */
/* main site text color */
/* bg of buttons and.. */
/* hov of but and ... */
/* border color */
/* */
/* mainly for main navigation background */
/* mainly for a tags of main navigation text */
/* white text, used in hover color of text of main navigation */
/* used mainly for bg of hover main nav */
/* red from ii logo used for active page */
/* line 30, ../sass/screen.scss */
* {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 100%;
}

/* line 32, ../sass/screen.scss */
a {
  color: #3f516e;
  text-decoration: none;
}

/* line 33, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 34, ../sass/screen.scss */
a:visited, a:active {
  text-decoration: none;
}

/* line 36, ../sass/screen.scss */
body {
  color: #3f516e;
  /*width: 1300px;*/
  margin: 0 auto;
}

/* START MAIN NAVIGATION */
/* MAIN MENU */
/* line 42, ../sass/screen.scss */
#main-navigation {
  background: #272727;
  margin-bottom: 1em;
}

/* line 43, ../sass/screen.scss */
#main-navigation ul {
  padding: 0 1em;
}

/* line 45, ../sass/screen.scss */
#main-navigation ul li {
  float: left;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1em;
  position: relative;
  padding: 1em 0;
}

/* line 46, ../sass/screen.scss */
#main-navigation ul li a {
  display: block;
  color: #fff;
  padding: 0 28px;
  margin-right: 0px;
  text-decoration: none;
}

/* line 47, ../sass/screen.scss */
#main-navigation ul li:hover > a {
  color: #fff;
}

/* line 48, ../sass/screen.scss */
#main-navigation ul li.active > a {
  color: #f8bb14;
}

/* SUB MENU */
/* line 51, ../sass/screen.scss */
#main-navigation .toplevel > li > ul:before {
  content: "";
  border-style: solid;
  border-width: 9px 9px 9px 9px;
  border-color: transparent transparent #fff transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: 50px;
  top: -2px;
}

/* line 53, ../sass/screen.scss */
#main-navigation ul li > ul {
  position: absolute;
  width: 150px;
  padding-top: 17px;
  padding-left: 1.5px;
}

/* line 54, ../sass/screen.scss */
#main-navigation ul li:hover > ul {
  display: block;
}

/* line 55, ../sass/screen.scss */
#main-navigation ul li > ul li {
  padding: 0px 3px 0px;
  background: #272727;
  width: 100%;
  border-bottom: 1px solid #2e2e2e;
}

/* line 56, ../sass/screen.scss */
#main-navigation ul li > ul li a {
  display: block;
  padding: 0 9px;
  font-size: 0.8em;
  line-height: 2em;
  border-left: 2px solid #272727;
}

/* line 57, ../sass/screen.scss */
#main-navigation ul li > ul li:hover {
  background: #353535;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* line 58, ../sass/screen.scss */
#main-navigation ul li > ul li:hover > a {
  color: #fff;
  /*margin-left: 4px;*/
  border-color: #f8bb14;
}

/* line 59, ../sass/screen.scss */
#main-navigation ul li > ul li:active > a {
  color: #f8bb14;
}

/* SUB SUB MENU */
/* line 62, ../sass/screen.scss */
#main-navigation ul li > ul li > ul:before {
  content: "";
  border-style: solid;
  border-width: 6px 6px 6px 6px;
  border-color: transparent #fff transparent transparent;
  width: 0;
  height: 0;
  position: absolute;
  left: -10px;
  top: 6px;
}

/* line 64, ../sass/screen.scss */
#main-navigation ul li > ul li > ul {
  top: 0;
  left: 100%;
  padding: 0 1px;
}

/* line 65, ../sass/screen.scss */
#main-navigation ul ul {
  display: none;
}

/* line 66, ../sass/screen.scss */
#main-navigation ul li:hover > ul {
  display: block;
}

/* line 67, ../sass/screen.scss */
#main-navigation ul:after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0px;
}

/* END MAIN NAVIGATION */
/****** PRESLOZITI ********/
/* line 76, ../sass/screen.scss */
#logo {
  float: right;
  height: 50px;
  padding-right: 1em;
}

/* line 77, ../sass/screen.scss */
#logo > .rtname {
  font-size: 1em;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #DC1E2D;
  vertical-align: middle;
}

/* line 78, ../sass/screen.scss */
#logo img {
  width: 43px;
  height: 48px;
  vertical-align: middle;
}

/* line 79, ../sass/screen.scss */
#logo:after {
  clear: both;
}

/* line 82, ../sass/screen.scss */
#quickbar {
  display: none;
}

/* line 84, ../sass/screen.scss */
#header {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1.6em;
  line-height: 50px;
  letter-spacing: -1px;
  /*box-shadow: 0px -15px 4px $buttonbg;*/
  padding-left: 1em;
}

/* NEW TICKET FAST */
/* line 88, ../sass/screen.scss */
#CreateTicketInQueue {
  float: left;
  margin-bottom: 1.4em;
  width: 60%;
}

/* line 89, ../sass/screen.scss */
.button {
  background: #4e6588;
  color: #fff;
  border: 1px solid #cdd0d5;
  border-radius: 3px;
  box-shadow: 1px 0px 2px #4e6588;
}

/* line 90, ../sass/screen.scss */
.button:hover {
  background: #3f516e;
  color: #fff;
}

/* line 91, ../sass/screen.scss */
.select-queue {
  background: #fff;
  color: #3f516e;
  border: 1px solid #cdd0d5;
}

/* line 93, ../sass/screen.scss */
#simple-search {
  float: right;
}

/* line 94, ../sass/screen.scss */
#simple-search input {
  border: 1px solid #cdd0d5;
  width: 200px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #3f516e;
}

/* line 96, ../sass/screen.scss */
#topactions:after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0px;
}

/* line 98, ../sass/screen.scss */
#page-menu {
  float: right;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  text-transform: lowercase;
  padding: 0.2em 0;
}

/* line 99, ../sass/screen.scss */
#page-navigation:after {
  content: ".";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0px;
}

/* TICKETI */
/* line 106, ../sass/screen.scss */
.boxcontainer {
  width: 100%;
  vertical-align: top;
}

/* line 108, ../sass/screen.scss */
.titlebox td:nth-child(1) {
  margin-right: 15px;
}

/* line 111, ../sass/screen.scss */
.titlebox-title {
  line-height: 18px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  background: #4e6588;
  color: #fff;
  border: 1px solid black;
}

/* line 112, ../sass/screen.scss */
.titlebox-title a {
  color: #fff;
  padding-right: 0.2em;
}

/* line 113, ../sass/screen.scss */
.titlebox-title .right {
  float: right;
  padding-right: 0.3em;
}

/* line 116, ../sass/screen.scss */
.ticket-list {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border-right: 1px solid #646464;
  border-left: 1px solid #646464;
}

/* line 118, ../sass/screen.scss */
.titlebox-content {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  width: 440px;
}

/* line 120, ../sass/screen.scss */
.collection-as-table {
  width: 860px;
  margin: 0px 0px;
  padding: 0.2em 0.4em;
}

/* line 121, ../sass/screen.scss */
.collection-as-table th:first-child {
  width: 3%;
}

/* line 122, ../sass/screen.scss */
.collection-as-table th:nth-child(2) {
  width: 45%;
}

/* line 123, ../sass/screen.scss */
.collection-as-table th {
  padding-bottom: 0.1em;
  font-size: 1em;
  color: black;
  border-bottom: 1px solid black;
}

/* line 124, ../sass/screen.scss */
.collection-as-table tr {
  width: 990px;
}

/* line 126, ../sass/screen.scss */
.evenline {
  background: #d3d8e1;
}

/* line 127, ../sass/screen.scss */
.oddline {
  background: #e3e7ed;
}

/* line 130, ../sass/screen.scss */
.reminders {
  background: #4e6588;
}

/* line 132, ../sass/screen.scss */
.clear {
  display: none;
}

/* line 136, ../sass/screen.scss */
.ticket-overview .queue-summary {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border-right: 1px solid #646464;
  border-left: 1px solid #646464;
}

/* line 137, ../sass/screen.scss */
.queue-summary th {
  padding-bottom: 0.1em;
  font-size: 1em;
  color: black;
  border-bottom: 1px solid black;
}

/* line 138, ../sass/screen.scss */
.ticket-overview th:first-child {
  width: 65%;
}

/* line 141, ../sass/screen.scss */
.quick-create {
  margin-top: 1em;
}

/* line 142, ../sass/screen.scss */
.label {
  padding: 0.3em 0.3em;
}

/* line 143, ../sass/screen.scss */
.quick-create input {
  width: 368px;
}

/* line 144, ../sass/screen.scss */
.quick-create select {
  padding-left: -1px;
}

/* line 145, ../sass/screen.scss */
.quick-create .button {
  position: relative;
  left: 83px;
}

/* line 149, ../sass/screen.scss */
#footer {
  margin: 1em 0;
  border-top: 1px solid #3f516e;
}

/* line 150, ../sass/screen.scss */
#bpscredits {
  margin-top: 1em;
  text-align: center;
}

/* line 152, ../sass/screen.scss */
#time {
  display: none;
}

/* line 153, ../sass/screen.scss */
#ui-datepicker-div {
  display: none;
}
