@import "compass/css3";


@mixin selection {
  ::selection { background:lighten($primary-color,15%); color:$white; }
  ::-moz-selection { background:lighten($primary-color,15%); color:$white; }
  ::-webkit-selection { background:lighten($primary-color,15%); color:$white; }
  ::-ms-selection { background:lighten($primary-color,15%); color:$white; }
  ::-o-selection { background:lighten($primary-color,15%); color:$white; }
}

@mixin transition($properties: all, $duration: .3s, $easing: ease-out) {
  @if length($properties) > 1 {
    transition-property: $properties;
    transition-duration: $duration;
    transition-timing-function: $easing;
  } 
  @else {
    transition: $properties $duration $easing;
  }
}


/*-------------------------------------------------------------------------------------------------
  All inputs
-------------------------------------------------------------------------------------------------*/
@mixin inputs{
	select,
	select[type="select"],
	.select-queue,
	option,
	input,
    optgroup,
	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="month"],
	input[type="week"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
		textarea{
		    @content;
		  }
}

@mixin input {
  background:lighten($white,2%); color:$primary-color; border:none; 
  @include box-shadow( (rgba($black,.3)) 0px 0px 1px); font:95% $font-alpha; 
  &:hover {outline:none; @include box-shadow(darken($primary-color,10%) 0 0 1px); }
  &:focus {outline:none; @include box-shadow($secondary-color 0 0 2px); } 
  select, .select-queue { text-transform:capitalize; }
  option { box-shadow:none; }
}

/*-------------------------------------------------------------------------------------------------
  Buttons
-------------------------------------------------------------------------------------------------*/
@mixin buttons{
  .ui-datepicker-close,
  .ui-datepicker-current,
  input[type="submit"],
  .button {
    @content;
          }
}


@mixin button {
  display:inline-block;
  @include transition(all, 10s, ease-out);
  padding:5px 10px;
  font:90% $font-alpha;
  color:$white;
  background-image:linear-gradient(lighten($alternative-color,5%), darken($alternative-color,5%));
  border:none;
  border-radius:3px;

  &:hover,&:focus, &:active { //@include transition(all, 2s, ease-in-out);
                   @include transition(all, 10s, ease-in-out);
                   
                @include box-shadow(inset darken($alternative-color,10%) 0px 0px 50px);
                  } 
}


@mixin fixed-font { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }




@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}


@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.125 * $sizeValue) + rem;
}

@mixin scale {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@mixin center-button {
  display: block;
  margin: 20px auto;
}