@import "compass/reset";
@import "compass/css3";

@import "mysettings";
@import "typography";
@import "mixins";


@charset "UTF-8";


/*TEST 2*/
$content-gap:10px;


/*-------------------------------------------------------------------------------------------------
 -Global
-------------------------------------------------------------------------------------------------*/
  @include buttons { @include button; }
  @include inputs { @include input; }
  a[href], input[type='submit'], button, .pointer input[type='image'], label[for], select, .checkbox {cursor:pointer;}
  @include selection;
  #quickbar,#logo .rtname,#time,.clear { display:none; } 
  body { font-family:$base-font-family; font-size:$base-font-size; font-weight:$base-font-weight; 
    background:$base-bg; color:$base-font-color; font-style:$base-font-style; line-height:1.4; }
  a { text-decoration:none; color:$secondary-color;
    &:visited { color:$secondary-color; }
    &:hover, &:active, &:focus { color:darken($secondary-color,15%); }
  }
  
  //Date picker, FIXAT !!!
  #ui-datepicker-div { display:none; width:160px; background:darken($white,2%); padding:0 0 5px 8px;
      .ui-datepicker-next, .ui-datepicker-prev { text-transform:uppercase; font-size:13px; padding:2px 6px; } 
      td { padding:2px 3px; }
      .ui-timepicker-div { .ui_tpicker_hour { padding-left:3px; } }
      .ui-datepicker-buttonpane, .ui-datepicker-close { margin-left:$content-gap; }
  }
/*-------------------------------------------------------------------------------------------------
 -Header + Main Navigation + page Navigation + Top Actions + Footer
-------------------------------------------------------------------------------------------------*/
  #logo { position:relative; float:left; padding:5px 20px;
    img { width:30px; height:33px; }
  }
  #header h1 { font-family:$header-font-family; font-size:$header-font-size; font-weight:$header-font-weight; 
    @include text-truncate; width:400px; line-height:43px; }

  h3,b { font-size:$header-font-size/1.1; font-weight:$header-font-weight;}

 //START MAIN NAVIGATION 
  #main-navigation { float:left; width:100%; text-transform:uppercase; 
      background:darken($white,2%); 
    border-top: 1px solid darken($bord,5%); border-bottom: 1px solid darken($bord,5%);
    ul { list-style:none; }
    ul li { float:left; position:relative; z-index:20; }
    ul li a { display:block; padding:5px 15px 5px 15px; font-size:14px; color:$primary-color; }
    ul li:hover > a { color:$secondary-color; }
    ul li.active > a { color:$secondary-color; }

    li > ul:before { content: ""; border-style:solid; border-width:6px 6px 6px 6px;
    border-color:transparent transparent $secondary-color transparent; width:0px; height:0px; 
    position:absolute; left:30px; top:-14px;} 
  //sub menu
    ul li > ul { position:absolute; left:0%; top:100%; width:140px; background:$white;
      @include box-shadow($black 0px 0px 2px); color:$white; border-top:2px solid $secondary-color;
  border-radius:3px;
    }
    ul li:hover > ul { display:block; }
    ul li > ul li { padding:3px; width: 95%; border-bottom:1px solid rgba(173,173,173,.1); }
    ul li > ul li a { display:block; padding: 3px 3px; font-size:12px; border-left:2px solid $white; }
    
    ul li > ul li:hover > a { color:$secondary-color; border-color:$secondary-color; }
    ul li > ul li.active > a { color:$secondary-color;}
  //sub sub menu
    li > ul li > ul:before {content: ""; border-style: solid; border-width: 6px 6px 6px 6px; 
      border-color: transparent $secondary-color transparent transparent; width: 0; height: 0; 
      position: absolute; left: -13px; top: 7px;
    }
    ul li > ul li > ul { top: 0px; left:100%; border:none; border-left:2px solid $secondary-color; }
    
    ul li > ul li:hover > ul { display:block; }
    ul ul {display: none;}
  }

  .sf-sub-indicator {display:none;}

 //START PAGE NAVIGATION
  #page-navigation { position: absolute; right: 15px; top:49px; 
    ul { list-style:none; }
    ul li { float:left; position:relative; z-index:20; }
    ul li a { display:block; padding:5px 15px 5px 15px; font-size:12px; color:$primary-color; }
    ul li:hover > a { color:$secondary-color; @include transition(all, 0.3s, ease-in-out); }
    ul li.active > a { color:$secondary-color; }

    li > ul:before { content: ""; border-style:solid; border-width:6px 6px 6px 6px;
    border-color:transparent transparent $secondary-color transparent; width:0px; height:0px; 
    position:absolute; right:20px; top:-14px;} 
  //sub menu
    ul li > ul { position:absolute; right:0%; top:100%; width:100px; background:$white;
      @include box-shadow($black 0px 0px 2px); color:$white; border-top:2px solid $secondary-color;
  border-radius:3px;
    }
    ul li:hover > ul { display:block; }
    ul li > ul li { padding:3px; width: 95%; border-bottom:1px solid rgba(173,173,173,.1); }
    ul li > ul li a { display:block; padding: 3px 3px; font-size:12px; border-left:2px solid $white; }
    ul li > ul li:hover { @include transition(all, 0.15s, ease-in-out); } 
    ul li > ul li:hover > a { color:$secondary-color; border-color:$secondary-color; 
                              @include transition(all, 0.5s, ease-in-out); }
      
    ul li > ul li.active > a { color:$secondary-color;}
    ul ul {display: none;}
  }

 // TOP ACTIONS
  #topactions { clear:both; position:absolute; top:0px; right:20px; line-height:43px; }
    #simple-search { float:left;padding-right:20px; }
    #simple-search input { width: 100px; height: 23px; border: none; padding-left: 2px; font-size:15px; }
    #CreateTicketInQueue { float:right; } 
  
 // FOOTER
  #footer { clear:both; margin-top:7em; margin-bottom:1em; #bpscredits {text-align: center;} }

/*-------------------------------------------------------------------------------------------------
 -#body general settings [+]
-------------------------------------------------------------------------------------------------*/
  #body { clear:both; margin:0 auto; padding: 1%; }

  //Widget
    .titlebox .titlebox-title .widget a {
      display: block;
      margin: 0;
      width: 15px;
      background: url(/NoAuth/images/css/rollup-arrow.gif) no-repeat;
      background-position: top;
      position: absolute;
      top: 6px;
      left: 0px;
      padding: 7px 0 0 0;
      overflow: hidden;     
    }
    .titlebox .titlebox-title .widget a:hover { background-position:center; @include transition(all, 0.10s, Ease-In); }
    .titlebox.rolled-up .titlebox-content { display:none; }
    .titlebox.rolled-up .titlebox-title .widget a 
      { background:url(/NoAuth/images/css/rolldown-arrow.gif) no-repeat; background-position:top; 
        color: red; top: 6px;}
    .titlebox.rolled-up .titlebox-title .widget a:hover 
      { background-position: center; @include transition(all, 0.3s, Ease-Out); }
  //END Widget

  .boxcontainer { vertical-align:top; }
  .boxcontainer:first-child { padding-right:10px; }
  table { width:100%; }
  td,th { padding:0 2px; }
  th { border-bottom:1px solid $bord; border-top:1px solid $bord; font-size:12px;
    background:darken($white,2%); color:$primary-color; text-transform:lowercase; letter-spacing:1px; }
  
  .titlebox { margin-bottom:20px; }
  .titlebox-title { position: relative; z-index: 10; padding:0 0 5px 17px; text-transform:capitalize; 
    font-size:$header-font-size; color:$black; font-weight:$light;}
  .left { a { color:$black; } a:hover { text-decoration:underline; } }
  .right { padding-left:20px;
    a { text-transform:lowercase; color:rgba(163,163,163,.5); font-size:80%;
    &:hover { color:$black;} } }
  
  .oddline:hover, .evenline:hover { background:darken($white,7%); @include transition(all, 0.10s, Ease-In); }
/*-------------------------------------------------------------------------------------------------
 -start comp-index // home page  [+]
-------------------------------------------------------------------------------------------------*/
  #comp-index {
    #page-edit { opacity:.2; text-transform:lowercase; &:hover { opacity:1; } }
    td, th { padding:2px 4px; @include text-truncate; }
     
    .boxcontainer:first-child { th:nth-child(1), td:nth-child(1) { text-align:center; width:20px; } }
      
    #TitleBox--_index_html------MTAgaGlnaGVzdCBwcmlvcml0eSB0aWNrZXRzIEkgb3du---0, // 10 highest priority
    #TitleBox--_index_html------MTAgbmV3ZXN0IHVub3duZWQgdGlja2V0cw__---0, // newest unowned
    #TitleBox--_index_html------Qm9va21hcmtlZCBUaWNrZXRz---0 {  // bookmarked tickets
      td:nth-child(2) { width:50%; }
    }

    #TitleBox--_index_html------MTAgaGlnaGVzdCBwcmlvcml0eSB0aWNrZXRzIEkgb3du---0, // 10 highest priority
    #TitleBox--_index_html------Qm9va21hcmtlZCBUaWNrZXRz---0 {  // bookmarked tickets
      th:nth-child(5), th:nth-child(6),
      td:nth-child(3), td:nth-child(5), td:nth-child(6) { text-align:center; }
    }
     
    // newest unowned tickets
    #TitleBox--_index_html------MTAgbmV3ZXN0IHVub3duZWQgdGlja2V0cw__---0 { 
      th:nth-child(4),th:nth-child(5),th:nth-child(6),
      td:nth-child(4),td:nth-child(5),td:nth-child(6) { text-align:center; }
      td:nth-child(5) { font-size:11px; }
      td:nth-child(6) { text-transform:uppercase; font-size:12px;                             
        a { color:$black; &:hover { color:$secondary-color; } } 
      }
        td:nth-child(6):hover { @include scale; }
    }

    // quick create
    .quick-create { width:550px;
      form { td, th { text-align:left !important; }
        .input-row .value:nth-child(2) { width:220px; }
        tr .label:nth-child(3) { text-align:right !important; }
        input, .select-queue { width:215px; }
        textarea { min-width:390px; max-width:390px; }
        .submit { text-align:center; } .button { width:150px; margin-top:5px; padding:5px 55px; }
      } // end form
     } // end quick create
     
    .boxcontainer:last-child { width: 25%; }
    // my reminders
    #TitleBox--_index_html--reminders----TXkgcmVtaW5kZXJz---0 {}
    // quick search
    #TitleBox--_index_html------UXVpY2sgc2VhcmNo---0 {
      th:nth-child(2), th:nth-child(3), th:nth-child(4),
      td:nth-child(2), td:nth-child(3), td:nth-child(4) { text-align:center; } 
    }
    // dashboards
      #TitleBox--_index_html------RGFzaGJvYXJkcw__---0 {}
    // refresh
      #TitleBox--_index_html------UmVmcmVzaA__---0 {
        select { float:left; width:200px; margin-top:6px; }
        .submit { float:right; padding:0 0 ; }
      }

 }// end comp-index

/*-------------------------------------------------------------------------------------------------
 -end comp-index // home page  [+]
-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------
 -start comp-Search-Simple  [+]
-------------------------------------------------------------------------------------------------*/
  #comp-Search-Simple #body {
    input:first-child { width:400px; height:30px; margin-top:50px; font-size:25px; line-height:30px; }
    .button { @include center-button; margin-bottom:50px; }
    p { max-width:700px; margin:0 auto; line-height:1.5; text-align:center; }
  } //end comp-Search-Simple
/*-------------------------------------------------------------------------------------------------
 -end comp-Search-Simple  [+]
-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------
 -start comp-Search-Build [+]
-------------------------------------------------------------------------------------------------*/
 #comp-Search-Build { 
  #body { position:relative; }
  #pick-criteria { width:55%; text-transform: capitalize;
    td:nth-child(1) select { width:190px; }
    td:nth-child(2) select { width:100px; }
    td:nth-child(3) select, input { width:190px; }
   
   #ValueOfTime { width:70px !important; }  
   .TimeUnits { width:100px !important; margin-left:20px; }
   .radio { width:20px;}
  }
  
  #editquery { @include abs-pos ($top: 10px, $right: 1%, $bottom: auto, $left: auto); width:40%; }
  p { margin-top:20px; }
  
  .submit { display:inline-block; margin-left:10%; }
  #editsearches { clear:left; float:right; }
  #display-options { clear:both; display:block; padding-top:50px; }
    #sorting { float:left; }
    #columns { float:right; width:60%;
      select { width:70px; } .label { display: inline-block; width:50px; }
      select[multiple=multiple] { width:150px; height:100px; }
      select[name="CurrentDisplayColumns"] { width:180px; margin:5px;}
    }
  #formatbuttons { clear:both; float:right; margin:5% 15%; }

 } //end comp search build

/*-------------------------------------------------------------------------------------------------
 -end comp-Search-Build [+]
-------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------
 -start comp-Prefs-Other // settings page [+]
-------------------------------------------------------------------------------------------------*/
  #comp-Prefs-Other {
      #body { select { width:250px; } .button { @include center-button; } }
      .titlebox { @include box-shadow($bord 0px -1px 0px); }
      .left { color:$black; }
      line-height: 1.8;
      .label { display:inline-block; width:310px; }
        .hints { font-size:12px; @include text-truncate; opacity:.4;
          &:hover { opacity:1; }
        }
  }

/*-------------------------------------------------------------------------------------------------
 -end comp-Prefs-Other [+]
-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------
 -start comp-Ticket-Create [?]
-------------------------------------------------------------------------------------------------*/
  #comp-Ticket-Create { .label, .cflabel, .type, .comment { color:$black; }

    #ticket-create-metadata {
      float:right; width:48%;
      textarea { width:100%; }
      select { width:126px; }
      .label, .cflabel, .type { width:150px; text-align:right; padding-right:5px; }
      .type { font-size:12px; font-style:italic; }
      td { padding:5px 0;}
    }

    #ticket-create-message { 
      width:50%; float:left;
      .label { width:100px; }
      .comment { display:none; }
      input[type="text"] { width:100%; }
      #content { padding-top:15px; }
    }

    #cke_Content {background:none; border:none; }

    #SubmitTicket .button { @include center-button; padding:10px 70px; }
   


    #ticket-create-message {  }
  }

/*-------------------------------------------------------------------------------------------------
 -end comp-Ticket-Create [?]
-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------
 -start comp-Ticket-Display [*2]
-------------------------------------------------------------------------------------------------*/
  #comp-Ticket-Display {
  #body { .label, .labeltop {color:darken($primary-color,15%); text-transform:uppercase; font-size:13px; }
    .boxcontainer:nth-child(1) {padding-right: 0.5em; width: 75%; line-height:1.4;
      td:first-child { width:130px; }
      tr { border-bottom: 1px solid darken($white,7%); }
      .ticket-info-cfs { td { padding: 0.2em; } }
      //.ticket-info-attachments { font-size:13px; a { font-size:11px; } }
    } 
    .boxcontainer:nth-child(2) { overflow:hidden; $white-space:nowrap;
      tr {border-bottom:1px solid $bord; }
      .ticket-info-reminders {
        table { position:relative; margin-left:$content-gap;}
        tr { border-bottom:none; }
        input { max-width:200px; }
        select { width:200px; }
        .button { margin-right:$content-gap; }
      }
      .ticket-info-links { .label, .labeltop { color: $secondary-color; } }
    } /* end .boxcontainer:nth-child(2) */

  // HISTORY
  .history { .right { color:$white; }
    #ticket-history { 
      .odd { display:inline-block; width: 100%; background:lighten($white,2%); 
        .description { text-transform:uppercase; } }
      .even { display:inline-block; width: 100%; background:lighten($white,2%); margin-bottom:3px;
        .description { text-transform:uppercase; }
        .actions {  }
      }
     
      .message-header-key { width:70px; padding-left:$content-gap; text-transform:uppercase; 
                              color:darken($primary-color,15%);
      }
      .message-header-value { }
      table { margin:5px 0 $content-gap 0; }
      
      .Correspond, .Create, .Comment { margin:5px 0; @include box-shadow($black 0px 0px 1px);
          .metadata { line-height:18px; border-radius:2px;
            padding:5px; border-bottom:1px solid $bord;
      
            .date, .description { color:$alternative-color; } 
          } 
      }
      

      //border for none message notifications
      .EmailRecord, .CustomField, .Set, .AddLink, .Status, .other { 
          color:darken($primary-color,15%); 
        .metadata { line-height:17px; border-top:1px solid lighten($bord,5%); 
          .date { padding:0 5px; }
          .description { font-size:12px; text-transform:capitalize; } 
          .actions { line-height:16px; padding-right:0 !important; a { opacity:0.5; font-size:12px; &:hover { opacity:1; } } }
        }
      }
      //message background and content padding
      .message-stanza { line-height:1.35; padding:5px; letter-spacing:.3px;
        @include box-shadow($bord 0px -1px 0px); 
      }
      //downloads settings
      .downloadattachment { float:right; white-space:nowrap; overflow:hidden; font-size:12px; 
              padding:5px; margin:5px; color:$secondary-color; text-transform:capitalize; border-radius:1px;
      @include box-shadow($black 0px 0px 2px);
          .downloadcontenttype { display:none; float:right; text-transform:uppercase; font-size:10px; }
      }
      .messagebody > img { width:30%; margin:$content-gap; border-radius:5px; }
      .messageattachments { &.messageattachments { line-height:1;
                      p { padding:0 20px; }
                      table { padding:2px; }
                      .message-header-key, .message-header-value {font-size:12px; }
                      } 
      }
    
      .metadata {
      background:darken($white,2%);
      .date { padding:0 $content-gap; font-size:12px; 
              text-transform:uppercase; }
        .actions {  
            float:right; color:darken($white,2%); font:100% $font-beta;  
            padding-right:50px; text-transform:uppercase; line-height:20px;
            a { color:$alert-color;  
              &:hover { color:darken($alert-color,15%); }
            }
        }

      } // end metadata

    //quotes
      .message-stanza-folder { color:darken($secondary-color,5%); cursor: pointer; font-size:12px; text-transform: lowercase; }
      .message-stanza.open  { color:darken($secondary-color,8%); }
      .message-stanza-folder.open { color:darken($secondary-color,8%); }
      .message-stanza.closed { display:none; }
      .message-stanza-folder:before, .message-stanza-folder:after { content: " : "; }
      .ticket-transaction .messagebody { font-size: 1em; word-wrap: break-word; }





    } // end ticket history
  } // end history
} // end body 
} // end comp-Ticket-Display 

/*-------------------------------------------------------------------------------------------------
 -end comp-Ticket-Display
-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------
 -start comp-Search-Results [*4]
-------------------------------------------------------------------------------------------------*/
  #comp-Search-Results {
    #body {
      table { width:100%; }
      .collection-as-table { background:none; & > th {background:darken($white,2%); } }
      th { border:none; a { color:$primary-color; &:hover { text-decoration:underline; } } }
      tr:nth-child(1) th { border-top:1px solid $bord; }
      tr:nth-child(2) th { a {font-size:11px; } }
      th:nth-child(1), th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6) { text-align:center; }
      tr:nth-child(1n) {font-size:12px;  a { font-size:14px; } }
      tr:nth-child(2n) { font-size:11px; border-bottom:1px solid $bord; }
      td:nth-child(1) { text-align:center; }
      td:nth-child(2) { overflow:hidden; white-space:nowrap; }
      td:nth-child(3), td:nth-child(5), td:nth-child(6) { text-transform:lowercase; text-align:center; width:80px; }
      td:nth-child(4) { text-align: center; overflow:hidden; white-space:nowrap; }
    } // end #body
  .refresh { display:none; }
  } //end comp search results

/*-------------------------------------------------------------------------------------------------
 -end comp-Search-Results
-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------
 -start comp-Ticket-Update  [*5]
-------------------------------------------------------------------------------------------------*/
  #comp-Ticket-Update {
    #body {
      #ticket-update-metadata {
        width:50%;
        .label { width:130px; }
        select { width:220px; }
        input { width:57px; }
        tr:last-child select { width:160px; }
      }

      #ticket-update-message {
        .messagedetails {
          .label { width:130px; }
          input { width:400px; }
          .messagebox-container {
            .articles-select-article { td, input { width:160px; float:left; overflow:hidden; white-space:nowrap; } }
            input[type="submit"] { margin-left:$content-gap+10; width:50px; }

            // EDITOR
              #cke_UpdateContent {max-width:600px; min-width:600px; border:none;
                td { width:98%; }
              }             
          } // end messagebox container
        input[type="submit"] { margin-left:$content-gap+40; width:100px; }
        }

        #previewscrips {
          margin-top:$content-gap+10;
            li { margin-top:$content-gap; }
        } // end previeew scripts

        #SubmitTicket {
          margin:$content-gap+20 45%;
        }

      } // end ticket update message
    } // end #body
  } // end #comp ticket update

/*-------------------------------------------------------------------------------------------------
 -end comp-Ticket-Update
-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------
 -start comp-Ticket-Reminders comp-Ticket-ModifyDates [*5]
-------------------------------------------------------------------------------------------------*/
#comp-Ticket-Reminders, #comp-Ticket-ModifyDates {
  .label { width:100px; text-transform:lowercase; }
  select, #NewReminder-Subject, #NewReminder-Due { width:200px; }
  .buttons { margin-left:100px; }
}
/*-------------------------------------------------------------------------------------------------
 -end comp-Ticket-Reminders comp-Ticket-ModifyDates
-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------
 -start comp-Ticket-Modify  [*5]
-------------------------------------------------------------------------------------------------*/
#comp-Ticket-Modify { 
  .label { width:150px; text-transform:lowercase; }
  table input { width:50px; }
  .subject input { width:200px; }
  select { width:200px; 
      &#TimeEstimated-TimeUnits,&#TimeWorked-TimeUnits,&#TimeLeft-TimeUnits{ width: 147px; } 
  }
  .edit-custom-fields { margin-top:50px;
    .cflabel { margin-top:30px; .name { text-transform:lowercase; } .type { font-size:12px; color:lighten($primary-color,15%) } }
    textarea { min-width:200px; max-width:500px; width:500px; }
  }
  .submit { text-align:center; 
    .button { display:table; margin:$content-gap auto; }
  }
}
/*-------------------------------------------------------------------------------------------------
 -end comp-Ticket-Modify
-------------------------------------------------------------------------------------------------*/

h3 { font-size:15px; color:darken($primary-color,15%); margin-top:20px; margin-bottom:5px; }


/*-------------------------------------------------------------------------------------------------
 -start comp-Ticket-ModifyPeople  [*5]
-------------------------------------------------------------------------------------------------*/
#comp-Ticket-ModifyPeople { 
  table { select { width:150px; }
    td:first-child { 
      br {margin:5px 0; }
      table { width:50%; td { input {width:200px;} } 
      }
      input > name {width:150px;}
     
    }
    td:last-child { vertical-align:top; select { margin-left:5px; } ul {margin-bottom:5px;}
    } // td last child 
  }
  #TitleBox--_Ticket_ModifyPeople_html--ticket-info-squelch----TW9kaWZ5IHdobyByZWNlaXZlcyBtYWlsIGZvciB0aWNrZXQgIzMzNQ__---0 {
    ul { margin-top:10px; padding-left:20px; }
  }
  .submit { text-align:center; 
    .button { display:table; margin:$content-gap auto; }
  }
}
/*-------------------------------------------------------------------------------------------------
 -end comp-Ticket-ModifyPeople
-------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------
 -start comp-Ticket-ModifyLinks
-------------------------------------------------------------------------------------------------*/
#comp-Ticket-ModifyLinks {
  table {
    td:first-child {vertical-align:top;}
    td:last-child {vertical-align:top;
      table { margin-top:10px; }
    }
  }
  .submit { text-align:center; 
    .button { display:table; margin:$content-gap auto; }
  }
}



/*-------------------------------------------------------------------------------------------------
 -end comp-Ticket-ModifyLinks
-------------------------------------------------------------------------------------------------*/